<%- include('partials/header.ejs') %>

<h1>Welcome To Brewery Finder</h1>

<% if (locals.data) { %>
<div class="card">
  <img
    src="/images/pexels-pixabay-159291.jpg"
    height="300"
    width="300"
    alt=""
  />
  <h1>Random Brewery Of The Day!</h1>
  <h2><%= data.name %></h2>
  <p><%= data.brewery_type %></p>
  <p><%= data.address_1 %></p>
  <p><%= data.city %>, <%= data.state_province %></p>
  <a href="http://thunderhawkbeer.com"><%= data.website_url %></a>
</div>
<% } else { %> <% } %>

<div class="search">
  <h1>Find Your Next Brewery</h1>
  <p>
    Use your preferred way to search the next Brewery you are looking to
    discover!
  </p>
  <form method="get">
    <label for="city">zip:</label>
    <input type="number" name="zip" id="brew_zip" />
    <input type="submit" id="Zip" value="Find" formaction="/get-zip" />

    <label for="city">City:</label>
    <input type="text" name="city" id="brew_city" />
    <input type="submit" id="City" value="Find" formaction="/get-city" />

    <label for="city">State:</label>
    <input type="text" name="state" id="brew_state" />
    <input type="submit" id="State" value="Find" formaction="/get-state" />
  </form>
</div>

<%- include('partials/footer.ejs') %>
